.section-guidelines {
	padding-top: 150px;
	margin-bottom: 200px;
	@media screen and (max-width: 1440px) {
		margin-bottom: 100px;
	}
	h3 {
		font-size: 38px;
		color: #51753a;
		line-height: 100px;
		letter-spacing: 3px;
	}
	p {
		font-size: 16px;
		line-height: 28px;
		b {
			font-weight: bold;
		}
	}
	.p-left_padding {
		margin: 30px 0;
		padding-left: 30px;
	}
}